.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-size);
  background: var(--color-bg-secondary);
  color: var(--color-text);
  border: solid var(--border-width) var(--color-border);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition:
    background 0.3s ease,
    color 0.3s ease;
}

.button:hover {
  box-shadow: 0px 0px 10px 0px var(--color-primary);
}
