.showcase {
  column-count: var(--column-count);
  column-width: 280px;
  column-gap: 2rem;
  padding: 2rem;
}

.empty {
  display: block;
  column-span: all;
  color: var(--color-text);
  text-align: center;
  width: 100%;
}
