:root {
  --color-primary: #693b93;
  --color-primary-dark: #1a0b2e;
  --color-primary-hover: #8252ae;
  --color-bg: #ffffff;
  --color-bg-secondary: #e2e2e2;
  --color-text: #1a1a1a;
  --color-text-secondary: #555555;
  --color-border: #cfcfcf;
  --color-accent: #e4d6f1;

  --border-radius: 8px;
  --border-width: 2px;
}

[data-theme='dark'] {
  --color-primary: #9857d3;
  --color-primary-dark: #1a0b2e;
  --color-primary-hover: #c59af0;
  --color-bg: #11071f;
  --color-bg-secondary: #1a0b2e;
  --color-text: #ffffff;
  --color-text-secondary: #b3b3b3;
  --color-border: #693b93;
  --color-accent: #2f1b47;

  --border-radius: 8px;
  --border-width: 2px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  font-family: sans-serif;
}
