:root {
  --color-primary: #693b93;
  --color-primary-hover: #8252ae;
  --color-bg: #ffffff;
  --color-bg-secondary: #f7f5fa;
  --color-text: #1a1a1a;
  --color-text-secondary: #555555;
  --color-border: #e2e2e2;
  --color-accent: #e4d6f1;
}

[data-theme='dark'] {
  --color-primary: #a77bd5;
  --color-primary-hover: #c59af0;
  --color-bg: #121212;
  --color-bg-secondary: #1e1e1e;
  --color-text: #ffffff;
  --color-text-secondary: #b3b3b3;
  --color-border: #2a2a2a;
  --color-accent: #2f1b47;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  font-family: sans-serif;
}
